.dess1 {
  height: 350px;
}
.sweet {
  color: white;
  font-family: $accent_font;
  font-size: 6rem;
  text-shadow: 2px 4px $red_accent;
}
.dessert_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  height: 500px;

  h4 {
    color: $background;
  }
}

.welcome {
  background-color: black;
  display: flex;
  justify-content: center;
}

.dessert {
  height: 300px;
  width: 400px;
}

.dessert_section {
  margin-top: 50px;
  width: 700px;
  text-align: center;
  box-shadow: 5px 5px 5px #990011ff;
  -moz-box-shadow: 5px 5px 5px #990011ff;
  -webkit-box-shadow: 5px 5px 5px #990011ff;
  -khtml-box-shadow: 5px 5px 5px #990011ff;
  border-radius: 8px 100px / 120px;
  margin-bottom: 20px;

  h4 {
    font-family: $accent_font;
    font-size: 4rem;
    color: white;
    text-shadow: 2px 5px $red_accent;
    padding: 40px;
  }

  p {
    font-family: $basic_font;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 40px;
    line-height: 2rem;
    color: white;
  }
}

.ice_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

@media only screen and (max-width: 322px) {
  .dess1 {
    height: 200px;
  }
  .dessert_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dessert {
    width: 200px;
    height: 200px;
  }

  .dessert_section {
    width: 300px;
  }
  .sweet {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 322px) and (max-width: 376px) {
  .dess1 {
    height: 200px;
  }
  .dessert_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dessert {
    width: 200px;
    height: 200px;
  }

  .dessert_section {
    width: 300px;
  }
  .sweet {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 426px) {
  .dess1 {
    height: 200px;
  }
  .dessert_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dessert {
    width: 200px;
    height: 200px;
  }

  .dessert_section {
    width: 350px;
  }
  .sweet {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 526px) {
  .dess1 {
    height: 200px;
  }
  .dessert_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dessert {
    width: 200px;
    height: 200px;
  }

  .dessert_section {
    width: 350px;
  }
  .sweet {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 526px) and (max-width: 626px) {
  .dess1 {
    height: 200px;
  }
  .dessert_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dessert {
    width: 200px;
    height: 200px;
  }

  .dessert_section {
    width: 450px;
  }
  .sweet {
    font-size: 4rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 626px) and (max-width: 769px) {
  .dess1 {
    height: 200px;
  }

  .dessert {
    width: 200px;
    height: 200px;
  }

  .dessert_section {
    width: 550px;
  }
  .sweet {
    font-size: 4rem;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }

  .dessert_container {
    height: 350px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 869px) {
  .dess1 {
    height: 200px;
  }

  .dessert {
    width: 200px;
    height: 200px;
  }

  .dessert_section {
    width: 550px;
  }
  .sweet {
    font-size: 4rem;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }

  .dessert_container {
    height: 350px;
  }
}

@media only screen and (min-width: 869px) and (max-width: 969px) {
  .dess1 {
    height: 200px;
  }

  .dessert {
    width: 200px;
    height: 200px;
  }

  .dessert_section {
    width: 650px;
  }
  .sweet {
    font-size: 6rem;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }

  .dessert_container {
    height: 350px;
  }
}

@media only screen and (min-width: 969px) and (max-width: 1025px) {
  .dess1 {
    height: 200px;
  }

  .dessert {
    width: 200px;
    height: 200px;
  }

  .dessert_section {
    width: 650px;
  }
  .sweet {
    font-size: 6rem;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }

  .dessert_container {
    height: 350px;
  }
}
