.soup_container {
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.soup {
  height: 300px;
  width: 400px;
}

.soup_section {
  margin-top: 50px;
  width: 700px;
  text-align: center;
  box-shadow: 8px 8px 5px #990011ff;
  -moz-box-shadow: 8px 8px 5px #990011ff;
  -webkit-box-shadow: 8px 8px 5px #990011ff;
  -khtml-box-shadow: 8px 8px 5px #990011ff;
  border-radius: 8px 100px / 120px;
  margin-bottom: 20px;

  h4 {
    font-family: $accent_font;
    font-size: 4rem;
    color: black;
    text-shadow: 2px 5px gray;
    padding: 40px;
  }

  p {
    font-family: $basic_font;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 40px;
    line-height: 2rem;
  }
}
.btn {
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 20px;
  position: fixed;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 150px;
  text-align: center;
  border: 2px solid $red_accent;
  a {
    text-decoration: none;
    color: $red_accent;
    font-family: $nav_font;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}

@media only screen and (max-width: 322px) {
  .soup {
    height: 170px;
    width: 200px;
  }

  .soup_section {
    margin-top: 50px;
    width: 300px;
    text-align: center;
    box-shadow: 4px 4px 2px #990011ff;
    -moz-box-shadow: 4px 4px 2px #990011ff;
    -webkit-box-shadow: 4px 4px 2px #990011ff;
    -khtml-box-shadow: 4px 4px 2px #990011ff;
    border-radius: 4px 100px / 120px;
    margin-bottom: 20px;
  }
  .btn {
    display: none;
  }
}

@media only screen and (min-width: 322px) and (max-width: 376px) {
  .soup {
    height: 170px;
    width: 200px;
  }

  .soup_section {
    margin-top: 50px;
    width: 320px;
    text-align: center;
    box-shadow: 4px 4px 2px #990011ff;
    -moz-box-shadow: 4px 4px 2px #990011ff;
    -webkit-box-shadow: 4px 4px 2px #990011ff;
    -khtml-box-shadow: 4px 4px 2px #990011ff;
    border-radius: 4px 100px / 120px;
    margin-bottom: 20px;
  }
  .btn {
    display: none;
  }
}

@media only screen and (min-width: 376px) and (max-width: 426px) {
  .soup {
    height: 170px;
    width: 200px;
  }

  .soup_section {
    margin-top: 50px;
    width: 370px;
    text-align: center;
    box-shadow: 4px 4px 2px #990011ff;
    -moz-box-shadow: 4px 4px 2px #990011ff;
    -webkit-box-shadow: 4px 4px 2px #990011ff;
    -khtml-box-shadow: 4px 4px 2px #990011ff;
    border-radius: 4px 100px / 120px;
    margin-bottom: 20px;
  }
  .btn {
    display: none;
  }
}

@media only screen and (min-width: 426px) and (max-width: 526px) {
  .soup {
    height: 170px;
    width: 200px;
  }

  .soup_section {
    margin-top: 50px;
    width: 420px;
    text-align: center;
    box-shadow: 4px 4px 2px #990011ff;
    -moz-box-shadow: 4px 4px 2px #990011ff;
    -webkit-box-shadow: 4px 4px 2px #990011ff;
    -khtml-box-shadow: 4px 4px 2px #990011ff;
    border-radius: 4px 100px / 120px;
    margin-bottom: 20px;
  }
  .btn {
    display: none;
  }
}

@media only screen and (min-width: 526px) and (max-width: 626px) {
  .soup {
    height: 270px;
    width: 300px;
  }

  .soup_section {
    margin-top: 50px;
    width: 520px;
    text-align: center;
    box-shadow: 4px 4px 2px #990011ff;
    -moz-box-shadow: 4px 4px 2px #990011ff;
    -webkit-box-shadow: 4px 4px 2px #990011ff;
    -khtml-box-shadow: 4px 4px 2px #990011ff;
    border-radius: 4px 100px / 120px;
    margin-bottom: 20px;
  }
  .btn {
    display: none;
  }
}

@media only screen and (min-width: 626px) and (max-width: 780px) {
  .soup {
    height: 270px;
    width: 300px;
  }

  .soup_section {
    margin-top: 50px;
    width: 520px;
    text-align: center;
    box-shadow: 4px 4px 2px #990011ff;
    -moz-box-shadow: 4px 4px 2px #990011ff;
    -webkit-box-shadow: 4px 4px 2px #990011ff;
    -khtml-box-shadow: 4px 4px 2px #990011ff;
    border-radius: 4px 100px / 120px;
    margin-bottom: 20px;
  }
  .btn {
    display: none;
  }
}

