@import "breakpoints.scss";
@import "variables.scss";
@import "landing.scss";
@import "soups.scss";
@import "starters.scss";
@import "main_dishes.scss";
@import "cocktails.scss";
@import "wine_list.scss";
@import "desserts.scss";


.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: row;
  list-style-type: none;
  background-color: $red_accent;

  height: 80px;

  li {
    margin-left: 25px;
    a {
      text-decoration: none;
      color: $background;
      font-family: $basic_font;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.link1 {
  text-decoration: none;
}

.vid {
  width: 800px;
}

.footer {
  height: 80px;
  background-color: $red_accent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $background;
  font-family: $nav_font;
  flex-direction: column;
  font-size: 1.1rem;
  font-weight: bold;
}

// FOOTER

@media only screen and (max-width: 322px) {
  .footer {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 323px) and (max-width: 376px) {
  .footer {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 322px) {
  .message {
    font-family: "Comforter", cursive;
    margin-top: 50px;
    font-size: 3.5rem;
    text-align: center;
    color: black;
    text-shadow: 2px 6px #990011ff;
  }
  .container1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vid {
    height: 350px;
    width: 320px;
  }

  .nav ul {
    justify-content: space-around;

    li {
      margin-left: 10px;
      a {
        font-size: 0.6rem;
      }
    }
  }
}
@media only screen and (min-width: 323px) and (max-width: 375px) {
  .message {
    margin-top: 50px;
    font-size: 3.5rem;
    text-align: center;
  }
  .container1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vid {
    height: 350px;
    width: 300px;
  }

  .nav ul {
    justify-content: space-around;

    li {
      margin-left: 10px;
      a {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
  .message {
    margin-top: 50px;
    font-size: 3.5rem;
    text-align: center;
  }
  .container1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vid {
    height: 350px;
    width: 370px;
  }

  .nav ul {
    justify-content: space-around;

    li {
      margin-left: 10px;
      a {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 425px) and (max-width: 527px) {
  .message {
    margin-top: 50px;
    font-size: 3.5rem;
    text-align: center;
  }
  .container1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vid {
    height: 350px;
    width: 420px;
  }

  .nav ul {
    justify-content: space-around;

    li {
      margin-left: 10px;
      a {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 527px) and (max-width: 627px) {
  .message {
    margin-top: 50px;
    font-size: 3.5rem;
    text-align: center;
  }
  .container1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vid {
    height: 350px;
    width: 520px;
  }

  .nav ul {
    justify-content: space-around;

    li {
      margin-left: 10px;
      a {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 627px) and (max-width: 769px) {
  .message {
    padding: 25px;
    font-size: 3.5rem;
    text-align: center;
  }
  .container1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vid {
    height: 350px;
    width: 620px;
  }

  .nav ul {
    justify-content: center;

    li {
      margin-right: 10px;
      a {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 869px) {
  .message {
    padding: 25px;
    font-size: 3.5rem;
    text-align: center;
  }
  .container1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vid {
    height: 350px;
    width: 760px;
  }

  .nav ul {
    justify-content: center;

    li {
      margin-right: 10px;
      a {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 869px) and (max-width: 969px) {
  .message {
    padding: 25px;
    font-size: 3.5rem;
    text-align: center;
  }
  .container1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vid {
    height: 350px;
    width: 860px;
  }

  .nav ul {
    justify-content: center;

    li {
      margin-right: 10px;
      a {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 969px) and (max-width: 1025px) {
  .message {
    padding: 25px;
    font-size: 3.5rem;
    text-align: center;
  }
  .container1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .vid {
    height: 350px;
    width: 960px;
  }

  .nav ul {
    justify-content: center;

    li {
      margin-right: 10px;
      a {
        font-size: 1rem;
      }
    }
  }
}
