@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@100&family=Qwitcher+Grypen:wght@700&family=Roboto+Slab:wght@100&display=swap");

$red_accent: #990011ff;
$background: #fff4ef;
$basic_font: "Roboto Slab", serif;
$nav_font: "Montserrat", sans-serif;
$accent_font: "Qwitcher Grypen", cursive;
